<section class="container mx-auto prose">
  <h2>本日出勤予定のメンバー</h2>
  <h3>10:00~</h3>
  <div class="grid grid-cols-4 md:grid-cols-6 gap-2">
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
  </div>

  <h3>14:00~</h3>
  <div class="grid grid-cols-4 md:grid-cols-6 gap-2">
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
    <img src="http://static1.squarespace.com/static/60137c2cbccd7d008ade5393/t/6111830f9c1b137e0241baac/1628537618785/hogoe+k+pseeou.jpeg?format=1500w" class="w-20 h-20 rounded-xl m-0 " />
  </div>
  
</section>
